node_modules
/mobile/!default.mode1v3
/mobile/!default.mode2v3
/mobile/!default.pbxuser
/mobile/!default.perspectivev3
/mobile/*.hmap
/mobile/*.iml
/mobile/*.ipa
/mobile/*.keystore
/mobile/*.mode1v3
/mobile/*.mode2v3
/mobile/*.moved-aside
/mobile/*.pbxuser
/mobile/*.perspectivev3
/mobile/*.xccheckout
/mobile/*.xcuserstate
/mobile/*/fastlane/Preview.html
/mobile/*/fastlane/report.xml
/mobile/*/fastlane/screenshots
/mobile/.DS_Store
/mobile/.gradle
/mobile/.idea
/mobile/DerivedData
/mobile/.buckd/
/mobile/buck-out/
/mobile/build/
/mobile/local.properties
/mobile/node_modules/
/mobile/npm-debug.log
/mobile/project.xcworkspace
/mobile/xcuserdata
/mobile/yarn-error.log
